# Ignoring large files

# Input
*.fq.gz
*.fq
*.fastq.gz

# Output
*.bam
*.bai
*.bw
*.bdg
*.gtf
*.fa

# Large indices
idx/star
idx/kallisto

# Pycharm files
.idea

# Rstudio files
*.Rhistory
*.RData
*.Rproj
*.Rproj.user
